version: '3'

services:
  app:
    build:
      context: ./app
    container_name: fullcycle-app
    networks:
      - node-network
    volumes:
      - ./app:/usr/src/app
    ports:
      - "3005:3005"
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=fullcycle
    depends_on:
      - db
    command: >
      dockerize
      -wait tcp://db:3306
      -timeout 20s
      node index.js
    tty: true

  db:
    image: mysql:5.7
    container_name: fullcycle-db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=fullcycle
    networks:
      - node-network

  nginx:
    image: nginx:alpine
    container_name: fullcycle-nginx
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - node-network

networks:
  node-network:
    driver: bridge